{% extends 'planter/main.html' %}
{% load static %}

{% block content %}
<title>Planter | Account</title>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-md navbar-light sticky-top">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'home'%}"><img src={% static 'planter/images/logo.png' %} width="180"></a>

        <!-- Toggler -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-controls="navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home'%}"><i class="fas fa-home"></i>HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop'%}"><i class="fas fa-shopping-bag"></i>SHOP</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'account'%}"><i class="fas fa-user-alt"></i>ACCOUNT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--TEMPORARY ACCOUNT LAYOUT-->
<h1>ACCOUNT INFO</h1>

{% for message in messages %}
    <h2>{{message}}</h2>
{% endfor %}

<h4>First Name:</h4>
<h6>{{ request.user.customer.first_name }}</h6>

<h4>Last Name:</h4>
<h6>{{ request.user.customer.last_name }}</h6>

<h4>Email:</h4>
<h6>{{ request.user.customer.email }}</h6>

<a href="{% url 'account_update' %}"><button>Update Profile</button></a>


{% endblock content%}