{% extends 'planter/main.html' %}
{% load static %}

{% block content %}
<title>Planter | Shop</title>

<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-md navbar-light sticky-top">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'home'%}"><img src={% static 'planter/images/logo.png' %} width="180"></a>

        <!-- Toggler -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-controls="navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home'%}"><i class="fas fa-home"></i>HOME</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'shop'%}"><i class="fas fa-shopping-bag"></i>SHOP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account'%}"><i class="fas fa-user-alt"></i>ACCOUNT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--TEMPORARY PRODUCTS-->
<form>
    <input name="q" type="text" placeholder="Search">
    <button type="submit">Search Mofo</button>
</form>

<div>
    {% for product in products %}
        <img src="{{product.imageURL}}">
        <h5>{{product.name}}</h5>
        <h6>P {{product.price|floatformat:2}}</h6>
        <button data-product="{{product.id}}" data-action="add" class="update-cart">Add to Cart</button>
    {% endfor %}
</div>

{% endblock content%}